ssl_certificate      {{ letsencrypt_cert_path }}/{{ domain }}/fullchain.pem;
ssl_certificate_key  {{ letsencrypt_cert_path }}/{{ domain }}/privkey.pem;
ssl_trusted_certificate {{ letsencrypt_cert_path }}/{{ domain }}/fullchain.pem;
include /etc/nginx/snippets/ssl.conf;
