# Choose between www and non-www, listen on the *wrong* one and redirect to
# the right one -- http://wiki.nginx.org/Pitfalls#Server_Name
#

server {
  listen [::]:80 ipv6only=on;
  listen 80;

  # listen on both hosts
  server_name {{ item.key }} {{ item.value.redirects }};
  include /etc/nginx/snippets/letsencrypt.conf;

  # Path for static files
  root /var/www/{{ item.key }}/public_html;

  #Specify a charset
  charset utf-8;

  # Custom 404 page
  error_page 404 /404.html;

  # Include the basic h5bp config set
  include includes/basic.conf;
}
